/*Page*/

.page-banner {
    background-position: center 70%;
    background-image: url(../assets/images/banner-about.jpeg);
}


/* Page Main*/

.fredie-card-image {
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}

.fredie-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.related-org span {
    font-weight: bold;
}

.related-org-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.related-org-card-image img {
    max-height: 6rem;
}

.report-image {
    max-width: 20rem;
}

.report-image img {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 1200px) {
    .fredie-card {
        max-height: 240px;
    }
    .fredie-card-body {
        padding-right: 5rem !important;
    }
    .fredie-card-image img {
        width: 100%;
        height: 70%;
    }
    .related-org-card {
        width: 70rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .fredie-card {
        max-height: 260px;
    }
    .fredie-card-body {
        padding-right: 3rem !important;
    }
    .fredie-card-image img {
        width: 100%;
        height: 90%;
    }
    .report-image {
        max-width: 16rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .report-image {
        max-width: 18rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .report-image {
        max-width: 12rem;
    }
}

@media screen and (max-width: 576px) {
    .related-org-card {
        text-align: center;
    }
}