/*Page*/

.page-banner {
    background-position: center 50%;
    background-image: url(../assets/images/banner-acknowledge.jpeg);
}


/* Page Main*/

.acknowledge-container {
    justify-content: space-around;
}

.acknowledge-container .acknowledge-name {
    font-weight: bold;
    text-align: center;
}

.acknowledge-container .name-only {
    font-weight: 700;
    font-size: 1.1rem;
}

.acknowledge-image {
    border: 2px solid var(--text-white);
    border-radius: 1rem;
    width: 19em;
    min-height: 8.5rem;
    padding: .5rem 3rem;
}

.acknowledge-image img {
    max-width: 7rem;
}

.councillors-container {
    justify-content: space-around;
}

.councillors-container .empty {
    visibility: hidden;
}

.councillors-box {
    width: 20rem;
}

.councillors-district {
    font-weight: 700;
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .acknowledge-image {
        width: 16.2em;
        padding: .5rem 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .acknowledge-image {
        width: 11.3rem;
        padding: .5rem .3rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .acknowledge-image {
        width: 12.9rem;
        padding: .5rem 1rem;
    }
}

@media screen and (max-width: 576px) {}