/*Setting*/

html,
body {
    margin: 0%;
    overflow-x: hidden;
}

:root {
    /* Theme colors */
    --fhems-gray: #52514e;
    --fhems-brown: #7c3a1c;
    --fhems-blue: #3B507E;
    --fhems-yellow: #e3b45a;
    --fhems-white: #f7f5f0;
    --text-white: #C4C4C4;
}

a, span, .body-text-a, .body-text-b{
    font-family: 'Changa', sans-serif;
    text-decoration: none;
    color: var(--fhems-white)!important;
}

.header-nav{
    background-color: var(--fhems-yellow);
}

span{
    font-size: 1.7rem;
}
/* Universal */

h1 {
    font-family: 'Changa', sans-serif;
    font-weight: 800 !important;
}

h2 {
    font-family: 'Changa', sans-serif;
    font-weight: bold !important;
}

h3 {
    font-family: 'Changa', sans-serif;
    font-weight: bold !important;
}

h4 {
    font-family: 'Changa', sans-serif;
    font-weight: 600 !important;
}

h5 {
    font-family: 'Changa', sans-serif;
    font-weight: 600 !important;
}

h6 {
    font-family: 'Changa', sans-serif;
    font-weight: 500 !important;
}

p {
    font-family: 'Cairo', sans-serif;
}

.container,
.page-path,
.page-main {
    background-color: var(--fhems-white);
}

.page-main {
    color: var(--fhems-gray);
}


/* Nav Bar*/

.head{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--fhems-blue);
    color: var(--fhems-white);
    height: 80px;
}
.head-titile{
    padding-left: 5%;
}

.social{
    padding-right: 4rem;
}

.social a{
    padding-right: 1rem;
    font-size: 1rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--fhems-white);
}

.navbar-toggler-icon{
    font-size: 1.3rem;
}

@media screen and (max-width: 991px) {
    .related-org-card {
        text-align: center;
    }
    span{
        display: none;
    }
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/*---------------------Body------------------- */

.body-img-title{
    width: auto; 
    height: 800px;
    background: no-repeat center / contain;
    background-color: rgba(0, 0, 0, .6);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-image: url(../assets/images/resources\ allocation.JPG);
}

.body-title{
    text-align: center;
    font-size: 3rem;
    font-style:inherit;
    justify-content: center;
    padding-top: 10%;
}
.body-text-b{
    padding-left: 10%;
}


.container-fluid .card{
    margin: 5% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Content-title{
    padding-bottom: 10%;
}

/*---------------------Content-2 ------------------- */
.container-2{
    background-color: rgba(82, 81, 78, 0.05);

}
.container-2 .card{
    background-color: var(--fhems-white);
}

.contant-2-card{
    display: block;

}
.content-2-card2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}
.content-2-card2 .card-text{
    display: none;
}

/*---------------------Content-2 ------------------- */
.container-3{
    background-color: var(--fhems-white);
}

.card-group{
    margin: 1% 1%;
}
