/*Page*/

.page-banner {
    background-position: center 50%;
    background-image: url(../assets/images/banner-research.jpeg);
}


/* Page Main*/

.page-tabs a {
    text-decoration: none;
    color: var(--fhems-blue);
}

.page-tabs a:hover {
    color: var(--fhems-blue);
    opacity: 90%;
}

.page-tabs .nav-item {
    margin: .1rem 0;
}

.page-tabs .nav {
    border-bottom: 3px solid var(--fhems-blue);
}

.page-tabs .nav-pills .nav-link.active {
    background-color: var(--fhems-blue);
}

.research-card,
.publications-card {
    box-shadow: 1px 1px 3px var(--fhems-gray);
    border: none !important;
    border-radius: 1rem !important;
}

.research-card-image,
.publications-card-image {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.research-card-image img,
.publications-card img {
    display: block;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
}

.research-card-body,
.publications-card-body {
    background-color: transparent;
    border-radius: 0 1rem 1rem 0;
}

.research-card .card-title,
.publications-card .card-title {
    color: var(--fhems-brown);
}

@media screen and (max-width: 767px) {
    .research-card-image img,
    .publications-card-image img {
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .research-card-image img,
    .publications-card-image img {
        width: 100%;
        max-height: 100%;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}