/*Page*/

.page-banner {
    background-position: center 35%;
    background-image: url(../assets/images/banner-services.JPG);
}


/* Page Main*/

.services {
    max-width: 930px;
    margin: auto;
}

.whatWeDo-Head {
    margin-bottom: 3.5rem;
}

.whatWeDo-title {
    background-color: rgba(227, 180, 90, 0.5);
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1rem;
}

.whatWeDo-body {
    background-color: rgba(82, 81, 78, 0.05);
    height: 200px;
    border-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

.whatWeDo-item {
    max-width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-icon {
    width: 6.2rem;
    height: 6.2rem;
    ;
    border: 2px solid #E0E0E0;
    color: var(--fhems-blue);
    display: flex;
}

.service-icon i {
    margin: auto;
}


/*Service RIGHT*/

.service-image-mobile,
.services-icon-mobile-left,
.services-icon-mobile-right {
    display: none;
}

.services-right {
    display: flex;
    margin-bottom: 3rem;
}

.services-right-icon {
    position: relative;
    float: left;
}

.services-right-icon .service-small-icon {
    width: 4rem;
    height: 4rem;
    border: 2px solid #E0E0E0;
    background-color: var(--fhems-white);
    color: var(--fhems-blue);
    display: flex;
    position: relative;
    top: -1.2rem;
    right: -6rem;
    z-index: 10;
}

.services-right-icon .service-small-icon i {
    margin: auto;
}

.services-right .service-image-desktop {
    width: 35%;
    height: 13rem;
    display: flex;
    align-self: center;
    position: relative;
    right: -4rem;
}

.services-right .service-image-desktop img {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    object-fit: cover;
}

.service-body {
    background-color: rgba(82, 81, 78, 0.05);
    width: 65%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.services-right .service-description {
    width: 65%;
    text-align: right;
    margin: 2rem 6rem 2rem 0;
}


/*Service LEFT*/

.services-left {
    display: flex;
    margin-bottom: 3rem;
}

.services-left-icon {
    position: relative;
    float: right;
}

.services-left-icon .service-small-icon {
    width: 4rem;
    height: 4rem;
    border: 2px solid #E0E0E0;
    background-color: var(--fhems-white);
    color: var(--fhems-blue);
    display: flex;
    position: relative;
    top: -1.2rem;
    left: -6rem;
    z-index: 10;
}

.services-left-icon .service-small-icon i {
    margin: auto;
}

.services-left .service-image-desktop {
    width: 35%;
    height: 13rem;
    display: flex;
    align-self: center;
    position: relative;
    left: -4rem;
}

.services-left .service-image-desktop img {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    object-fit: cover;
}

.services-left .service-description {
    width: 65%;
    text-align: left;
    margin: 2rem 0 2rem 6rem;
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*Service RIGHT*/
    .services-right-icon .service-small-icon {
        right: -4rem;
    }
    .services-right-icon .service-small-icon i {
        margin: auto;
    }
    .services-right .service-image-desktop {
        width: 35%;
        height: 13rem;
        right: -2rem;
    }
    .services-right .service-image-desktop img {
        padding: 1rem 0;
    }
    .service-body {
        width: 65%;
    }
    .services-right .service-description {
        width: 65%;
        margin: 2rem 4rem 2rem 0;
    }
    /*Service LEFT*/
    .services-left-icon .service-small-icon {
        left: -4rem;
    }
    .services-left .service-image-desktop {
        width: 35%;
        height: 13rem;
        left: -2rem;
    }
    .services-left .service-image-desktop img {
        padding: 1rem 0;
    }
    .services-left .service-description {
        width: 65%;
        margin: 2rem 0 2rem 4rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    /*Service RIGHT*/
    .services-right-icon .service-small-icon {
        right: -3.5rem;
    }
    .services-right-icon .service-small-icon i {
        margin: auto;
    }
    .services-right .service-image-desktop {
        width: 40%;
        height: 18rem;
        right: -1.5rem;
    }
    .services-right .service-image-desktop img {
        padding: 1rem 0;
    }
    .service-body {
        width: 65%;
    }
    .services-right .service-description {
        width: 65%;
        margin: 2rem 2.5rem 2rem 0;
    }
    /*Service LEFT*/
    .services-left-icon .service-small-icon {
        left: -3.5rem;
    }
    .services-left .service-image-desktop {
        width: 40%;
        height: 18rem;
        left: -1.5rem;
    }
    .services-left .service-image-desktop img {
        padding: 1rem 0;
    }
    .services-left .service-description {
        width: 65%;
        margin: 2rem 0 2rem 2.5rem;
    }
}

@media screen and (max-width: 576px) {
    .whatWeDo-Head {
        margin-bottom: 0 !important;
    }
    .whatWeDo-body {
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .whatWeDo-item {
        max-width: 12rem;
        flex: 1 0 50%;
    }
    .services-right .service-image-desktop,
    .services-left .service-image-desktop,
    .services-right-icon,
    .services-left-icon {
        display: none;
    }
    .services-left,
    .services-right {
        margin-bottom: 0;
    }
    .services-icon-mobile-left {
        display: flex;
        justify-content: flex-start;
    }
    .services-icon-mobile-right {
        display: flex;
        justify-content: flex-end;
    }
    .services-icon-mobile-left .service-small-icon,
    .services-icon-mobile-right .service-small-icon {
        width: 4rem;
        height: 4rem;
        border: 2px solid #E0E0E0;
        background-color: var(--fhems-white);
        color: var(--fhems-blue);
        display: flex;
        position: relative;
        top: 3.5rem;
        z-index: 10;
    }
    .services-icon-mobile-left .service-small-icon i,
    .services-icon-mobile-right .service-small-icon i {
        margin: auto;
    }
    .service-image-mobile {
        display: flex;
        width: 85%;
        margin: auto;
        position: relative;
        top: 1.5rem;
    }
    .service-image-mobile img {
        width: 100%;
    }
    .service-body {
        background-color: rgba(82, 81, 78, 0.05);
        width: 100%;
        border-radius: 2rem;
    }
    .services-right .service-description {
        width: 100%;
        text-align: center;
        margin: 0rem;
        padding: 3rem 2rem 2rem 2rem;
    }
    .services-left .service-description {
        width: 100%;
        text-align: center;
        margin: 0rem;
        padding: 3rem 2rem 2rem 2rem;
    }
}


/* Highlight SlideShow*/

.carousel-nav-icon {
    height: 2rem;
    width: 2rem;
}

.carousel-item .col,
.carousel-item .col-sm,
.carousel-item .col-md {
    margin: 8px;
    height: 200px;
    background-size: cover;
    background-position: center center;
}