/*Setting*/

html,
body {
    margin: 0%;
    overflow-x: hidden;
    background-color: var(--fhems-white) !important;
}

:root {
    /* Theme colors */
    --fhems-gray: #52514e;
    --fhems-brown: #7c3a1c;
    --fhems-blue: #3B507E;
    --fhems-yellow: #e3b45a;
    --fhems-white: #f7f5f0;
    --text-white: #C4C4C4;
}


/* Universal */

h1 {
    font-family: 'Changa', sans-serif;
    font-weight: 800 !important;
}

h2 {
    font-family: 'Changa', sans-serif;
    font-weight: bold !important;
}

h3 {
    font-family: 'Changa', sans-serif;
    font-weight: bold !important;
}

h4 {
    font-family: 'Changa', sans-serif;
    font-weight: 600 !important;
}

h5 {
    font-family: 'Changa', sans-serif;
    font-weight: 600 !important;
}

h6 {
    font-family: 'Changa', sans-serif;
    font-weight: 500 !important;
}

p {
    font-family: 'Cairo', sans-serif;
}

.container,
.page-path,
.page-main {
    background-color: transparent;
}

.page-main {
    color: var(--fhems-gray);
}


/* Nav Bar*/

.nav1 {
    background-color: var(--fhems-blue);
    height: 70px;
    color: var(--fhems-white);
}

.nav2 {
    background-color: var(--fhems-yellow);
    height: 30px;
    line-height: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--fhems-white);
}


/* Page */

.page-banner {
    top: 100px;
    height: 180px;
    background-color: rgb(72, 70, 75);
    /* ^^^^^^^^^^^^^^^^^^^^^^^^   replace image later*/
    color: var(--fhems-yellow);
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.page-banner-title {
    background-color: transparent;
}


/*Page Path*/

.page-path .fas{
    margin-left: -0.8rem;
}

.breadcrumb {
    background-color: transparent !important;
    font-family: 'Cairo', sans-serif !important;
    font-size: 0.8rem;
}



/* Page Main*/

/*Workshop Head*/
.workshop-head-image-container-mobile {
    display:none;
}

.workshop-head-image-container-desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.workshop-head-image img {
    object-fit: cover;
    width: 100%;
}

.current-workshop-image  {
    max-width: 25rem; 
    margin: 1rem 1rem;
}

.current-workshop-image img {
    width: 100%;
}

.join-workshop-container {
    justify-content: center;
}

.join-workshop-container .workshop-type {
    font-weight: bold;
    text-align: center;
} 

.join-workshop-image {
    border: 2px solid var(--text-white);
    margin: .75rem .75rem;
}

.join-workshop-image img {
    max-width: 6.8rem; 
}

@media screen and (min-width: 991px) {
    .join-workshop-container {
        justify-content: space-around;
    }
    .current-workshop-image  {
        margin: 1rem 4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .current-workshop-image  {
        max-width: 25rem; 
        margin: 1rem 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .current-workshop-image  {
        max-width: 19rem; 
    }

}



@media screen and (max-width: 576px) {
    .workshop-head-image-container-desktop {
        display:none;
    }

    .workshop-head-image-container-mobile {
        display:block;
    }
}


/* Footer */

footer {
    background-color: var(--fhems-blue);
    height: 160px;
}